# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/

# Env / secrets
.env
.env.*
secrets/
config/secrets.*

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Reference
reference/
